[Unit]
Description=System Configuation Directories /etc
Documentation=man:file-hierarchy(7)

ConditionPathIsSymbolicLink=!/etc

DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
After=systemd-repart.service
RequiresMountsFor=/var/

[Mount]
What=overlay
Where=/etc/
Type=overlay
Options=lowerdir=/etc,upperdir=/var/etc,workdir=/var/.etc-work,index=off,metacopy=off

[Install]
WantedBy=default.target
