[Unit]
Description=Ensure user home directory exists
Before=systemd-user-sessions.service
After=home.mount

[Service]
Type=oneshot
ExecStart=install -d -o user -g user /var/home/user
ExecStart=install -d -o updater -g updater /var/home/updater
ExecStart=install -d -o root -g root /var/lib/pacman

[Install]
WantedBy=graphical.target
