[Unit]
Description=Update System
After=home.mount

[Service]
Type=oneshot
User=updater
WorkingDirectory=~
ExecStart=sudo pacman -Sy
ExecStart=git clone https://github.com/SED4906/greetings
ExecStart=git clone https://aur.archlinux.org/cbatticon-git.git
ExecStart=git clone https://aur.archlinux.org/mangl.git
ExecStart=git clone https://aur.archlinux.org/waterfox-bin.git
ExecStart=sh -c "cd cbatticon-git;makepkg"
ExecStart=sh -c "cd mangl;makepkg"
ExecStart=sh -c "cd waterfox-bin;makepkg"
ExecStart=cp cbatticon-git/cbatticon-git-*.pkg.tar.zst greetings/mkosi.packages/
ExecStart=cp mangl/mangl-*.pkg.tar.zst greetings/mkosi.packages/
ExecStart=cp waterfox-bin/waterfox-bin-*.pkg.tar.zst greetings/mkosi.packages/
ExecStart=sh -c "cd greetings;mkosi"
ExecStart=/usr/lib/systemd/systemd-sysupdate
ExecStart=rm -rf /home/updater/greetings
ExecStart=rm -rf /home/updater/cbatticon-git
ExecStart=rm -rf /home/updater/mangl
ExecStart=rm -rf /home/updater/waterfox-bin

[Install]
WantedBy=graphical.target
